* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

mark.blue {
    color: rgb(58, 140, 202);
    background-color: rgba(0, 0, 0, 0);
}

body {
    height: 3000px;
    background-color: #eaeff3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.wrapper {
    margin: 150px auto;
    width: 830px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 50px;
}

.logo {
    max-width: 280px;
    margin-left: 50px;
}

.text_content {
    color: rgb(0, 0, 0);
    min-height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    position: relative;
    top: 0;
}

.heading {
    font-size: 42px;
    margin-bottom: 5px;
    font-weight: 600;
}

.description {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.info {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    max-width: 500px;
}

.links {
    display: flex;
    column-gap: 15px;
    margin-bottom: 50px;
}

.link {
    color: black;
    transition: all 0.2s;
}

.link:hover {
    color: rgb(58, 140, 202);
    transform: scale(1.2);
}

.btns {
    display: flex;
    margin-right: auto;
    column-gap: 15px;
    margin-top: auto;
}

.btn {
    background-color: #97a4ae;
    text-decoration: none;
    color: black;
    padding: 12px 18px;
    transition: all 0.2s;
    text-align: center;
}

.btn:hover {
    background-color: rgb(58, 140, 202);
    transform: scale(1.1);
}

.about {
    margin: 150px auto;
    width: 830px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    top: 50px;
}

.about_heading {
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 600;
}

.about_heading_description {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.about_main_text {
    font-size: 16px;
    font-weight: 400;
}

.projects {
    margin: 150px auto;
    width: 830px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    top: 50px;
}

.projects_heading {
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 600;
}

.projects_heading_description {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.projects_holder {
    display: grid;
    grid-template-columns: repeat(3, 32%); /* Each column takes 32% of the width */
    column-gap: 15px; 
    row-gap: 15px; 
    width: 850px;
    height: auto;
}

.project_item {
    height: 150px;
    background-color: #97a4ae;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    transition: all 0.2s;
}

.project_item:hover {
    transform: scale(1.05 );
    cursor: pointer;
}

@media (max-width: 850px) {
    .wrapper {
        flex-direction: column;
        margin-left: auto;
        width: 70%;
    }

    .logo {
        margin: 0;
        align-self: center;
        margin-top: 50px;
    }
    
    .text {
        position: relative;
        top: 0;
        text-align: center;
    }
    
    .heading {
        font-size: 42px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    
    .description {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    
    .info {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 400;
        max-width: 500px;
    }
    
    .links {
        display: flex;
        column-gap: 15px;
        margin-bottom: 50px;
        justify-content: center;
    }
    
    .btns {
        display: flex;
        margin-right: auto;
        column-gap: 15px;
        margin-top: auto;
        margin-left: auto;
        justify-content: center;
    }

    .about {
        width: 70%;
        align-items: center;
    }
    
    .about_heading {
        text-align: center;
    }
    
    .about_heading_description {
        justify-content: center;
    }
    
    .about_main_text {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        max-width: 350px;
    }

    .projects {
        width: 70%;
        align-items: center;
    }
    
    .projects_heading {
        text-align: center;
    }
    
    .projects_heading_description {
        justify-content: center;
    }
    
    .projects_main_text {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        max-width: 350px;
    }

    .projects_holder {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    
    .project_item {
        height: 150px;
    }
}

@media (max-width: 350px) {
    .projects_holder {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    
    .project_item {
        height: 100px;
    }
}